# Web Framework
Django==5.0.2

# Image Processing
Pillow==10.2.0
opencv-python==4.9.0.80

# AI & Face Recognition
insightface==0.7.3
onnxruntime==1.17.1

# Machine Learning & Clustering
scikit-learn==1.4.1.post1
numpy==1.26.4

# Utilities
tqdm==4.66.2
requests==2.31.0